

{{#each posts}}
<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="product-img">
      <img src="https://images.unsplash.com/photo-1505751171710-1f6d0ace5a85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" height="420" width="325">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{this.title}}</h1>
        <h2>Being Sold by {{user.username}} located in {{user.location}}</h2>
        <p>{{this.description }}</p>
      </div>
      <div class="product-price-btn">
        <p><span>{{this.price}}</span>$</p>
        <button type="button" class ="email-owner"><a href="mailto:{{user.email}}">Contact Seller</a>
      </div>
    </div>
  </div>

</body>

</html>
{{/each}}



